*
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: "SimHei";
	font-weight: 100;

}

div{
	width: 0px;
}

body{
	width: 100%;
	height: 100%;
}

.baseboard{
	z-index:-1;
	width: 100%;
	height: 100%;
	background-color: #A9A9A9;
}


.mypic{
	position: absolute;
	z-index: 2;
	height: 200px;
	width:200px;
	background-color: #2A3F55;
	border-radius:50%;
	text-align: center;
	transition: all 1s;
	box-shadow: 0px 0px 25px -3px black;
}

.mypic a{
	position: relative;
	font-size: 40px;
	top: 60px;
	color: #A9A9A9;
}

/*when hover for mypic*/
.mypic:hover{
	opacity: 0;
	background-color: #A9A9A9;
	transition: all 1.7s;
}



.mypic:hover + .lifeline{
	opacity: 1;
	transition: all 1s 1s;
} 

.mypic:hover + .lifeline > .mainpic{  /*when hover mypic, the event for a of the lifepoint*/
	opacity: 1;
	transition: all 1s 2s;
} 
.mypic:hover + .lifeline > .mainintroduction{  /*when hover mypic, the event for a of the lifepoint*/
	opacity: 1;
	transition: all 1s 2.5s;
} 

.mypic:hover + .lifeline > .lifepoint{  /*when hover mypic, the event for a of the lifepoint*/
	width: 650px;
	transition: all 1s 3s;
} 


.mypic:hover + .lifeline > .lifepoint a{  /*when hover mypic, the event for a of the lifepoint*/
	opacity: 1;
	color: black;
	transition: all 1s 4s;
} 


.lifeline{
	opacity: 0;
	z-index: 0;
	position:absolute;
	width: 1300px;
	height: 700px;	
	background-color: #2A3F55;
	box-shadow: 0px 0px 40px -9px black;
}


.lifepoint{
	opacity: 1;
	z-index: 1;
	position: absolute;
	top: 0px;
	width: 10px;
	height: 70px;
	background-color: burlywood;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: left;
	
	box-shadow: -5px 0px 25px -3px black;

}

.lifepoint a{
	opacity: 0;
	position: relative;
	top: 22px;
	left: 30px;
	font-size: 18px;
	color: burlywood;
	font-weight: 100;
	font-family: "YaHei";
}



.mainpic{
	opacity: 0;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	left: 170px;
	top: 90px;	
	height: 300px;
	width:300px;
	background-color: #2A3F55;
	border-radius:50%;
	box-shadow: 0px 0px 35px -6px black;
}

.mainpic img{
	position: relative;
	top:-7px;
	left: -45px;
	width: 450px;
	border-radius:0%;

	
}

.mainintroduction{
	opacity: 0;
	position: absolute;
	top: 415px;
	left: 83px;
	width:480px;
	text-align: center;
}


.mainintroduction p{
	
	font-size: 15px;
	font-family: "YaHei";
	
}